.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Imported from old work */
/* Rotate between the three */
.c1{
  background-color:lavenderblush;
  border: 2px solid;
  margin-top: 5px;
  margin-bottom: 5px;
}
.c2{
  background-color:mediumturquoise;
  border: 2px solid;
  margin-top: 5px;
  margin-bottom: 5px;
}
.c3{
  background-color:lightgreen;
  border:2px solid;
  margin-top:5px;
  margin-bottom:5px
}
/* For example in ngClass */
.mg{
  background-color: grey;
  color:aqua;
}

/* For embedded divs */
.ed{
  border:2px solid;
  margin:3px;
}

/* for table examples */
.table-ex{
  border-style:solid;
  border-width: 4px;
  border-color:darkblue;
  border-collapse: collapse;
  text-align: center;
  margin:3px;
}