<h1> This is Comp1.html </h1>
     
<!-- =============================================================================== -->

<button>Hover over me!</button>

<div (mouseover) = "a('1','2','3')">
    move the mouse over
</div>

<!-- =============================================================================== -->
<!-- Two-way data binding -->

<input [(ngModel)] = "superpower">

<!-- String Interpolation -->
<div>
    <h3>Using String interpolation</h3>
    <span>{{superpower}}</span>
</div>
<!-- Property Binding -->
<div>
    <h3>Using Property binding</h3>
    <p [innerHTML] = "superpower"></p>
</div>
<!-- =============================================================================== -->
<!-- Using Angular Material -->
<button mat-button color="primary" (click)="hello()">Click me!</button>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>

<!-- =============================================================================== -->
<!-- Angular Pipes -->

<div>
    {{lower_case | lowercase}}
    {{upper_case | uppercase}}
</div>

<div>
    {{currentDate | date : 'long' | lowercase}}
</div>

<div>
    {{obj | json | uppercase}}
</div>

<div>
    {{num_value | currency : 'JPY'}}
    {{num_value2 | percent}}
</div>

<!-- =============================================================================== -->
<!-- Queries -->
<br>{{audi}} 
<br>{{benz}} 
<br>{{ducatti}} 