h1{
    background-color: aliceblue;
}

.d1{
    color:green;
    background-color: greenyellow;
}

.d2{
    font-size: 25px;
}

.d3{
    color:chocolate;
    background-color:beige;
}

.d4{
    font-size:30px;
}