<!-- =============================================================================== -->
<div class="c1">
<h1> 24th May 2023 </h1>
<h2> ngFor, ngIf</h2>

<p>Creating a list: </p>

<ul>
  <div *ngFor="let a of contacts, index as i, first as f, last as l, even as e, odd as o">
    <!-- <li *ngIf="f" style="background-color:darkkhaki;"> 
      <h3>{{i+1}} - {{a.fn}} {{a.ln}} , ID: {{a.ID}}</h3> 
    </li>
    <li *ngIf="l" style="background-color:mediumaquamarine;"> 
      <h3>{{i+1}} - {{a.fn}} {{a.ln}} , ID: {{a.ID}}</h3> 
    </li> -->
    <li *ngIf="e" style="background-color:darkkhaki;"> 
      <h3>{{i+1}} - {{a.fn}} {{a.ln}} , ID: {{a.ID}}</h3> 
    </li>
    <li *ngIf="o" style="background-color:mediumaquamarine;"> 
      <h3>{{i+1}} - {{a.fn}} {{a.ln}} , ID: {{a.ID}}</h3> 
    </li>
  </div>
</ul>

<p>Creating a table: </p>

<table>
  <thead>  
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Results</th>
  </thead>
  <tbody *ngFor="let a of contacts, index as i, first as f, last as l, even as e, odd as o"> 
    <tr *ngIf="e" style="background-color:darkkhaki;">
      <td>{{i+1}}</td>
      <td>{{a.fn}}</td>
      <td>{{a.ln}}</td>
      <td>{{a.ID}}</td>
    </tr>
    <tr *ngIf="o" style="background-color:mediumaquamarine;">
      <td>{{i+1}}</td>
      <td>{{a.fn}}</td>
      <td>{{a.ln}}</td>
      <td>{{a.ID}}</td>
    </tr>
  </tbody>
</table>
</div>
<!-- =============================================================================== -->
<div class="c2">
    <h1> 24th May 2023 </h1>
    <h2> ngSwitch, ngStyle, ngClass</h2>
<!-- Switch, Style -->

    <!-- Alter superpower, desiredColor variables in .ts file-->
    <div [ngSwitch]="superpower" 
    [ngStyle]="{'color':desiredColor === 'red' ? 'blue' : 'red',
    'background-color':desiredBg}">
        <div *ngSwitchCase="'Batman'">This is Batman</div>
        <div *ngSwitchCase="'Flash'">This is Flash</div>
        <div *ngSwitchCase="'Wonderwoman'">This is Wonderwoman</div>
        <div *ngSwitchCase="'NewGuy'">This is NewGuy</div>
    </div>

    <!-- Alter mg in .css file -->
    <div>
        <!-- Default -->
        <span>{{dsentence}}</span>
        <span [ngClass]="multipleClass === 'd3'? 'd3': 'mg'">{{dsentence}}</span>
    </div>
</div>
<!-- =============================================================================== -->
<div class="c3">
    <h1> 24th May 2023</h1>
    <h2> Two-way data binding</h2>
<!-- Two-way data binding -->
<input [(ngModel)] = "superpower">

<!-- String Interpolation -->
<div style="border:2px solid; margin:3px">
    <h3>Using String interpolation </h3>
    <span>{{superpower}}</span>
</div>
<!-- Property Binding -->
<div style="border:2px solid; margin:3px">
    <h3>Using Property binding</h3> <div [innerHTML] = "superpower"></div>
</div>

