<style>
</style>

<!-- Not needed after using app-routing -->
<!-- <app-comp1></app-comp1> -->
<!-- <app-comp2></app-comp2> -->
<!-- <app-comp3></app-comp3> -->

<!-- =============================================================================== -->
<!-- app-routing -->
<!-- default router outlet -->

<router-outlet></router-outlet>
<!-- <router-outlet name="chnl-1"></router-outlet> -->
<!-- =============================================================================== -->

<!-- <h1 *ngIf="msg; else error_msg"> This is Component.html </h1>
<ng-template #error_msg> There was an error in NGIF </ng-template>
<ng-template #update_msg> This is an updated msg </ng-template> -->

<!-- =============================================================================== -->





